.abc {
    display: flex;
    position: absolute;
    bottom: 2%;
    justify-content: start;
}
.abc li {
    list-style: none;
    padding: 0 10px;
}
.abc button {
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 100rem;
    outline: none;
    border: none;
    background-color: #bcbcbc;
}
.slick-active button {
    width: 26px;
    background-color: #fed700;
    transition: all 0.2s linear;
}
